<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FrontPage</title>
<script type="text/javascript" src="{{ url_for('static', filename='front.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='budget.js') }}"></script>

</head>
<body>
<h1> Uncategorized Purchases: {{ spent }}$</a> </h1>
		<form method="get">
        <a href= "/purchases/uncategorized">Go To Uncategorized</a>
            <br>
            <input type="text" placeholder="Budget Title" id="PurchaseN" name="BudgetName" value="" />
			<input type="text" placeholder="Allotted Budget" id="PurchaseValue" name="BudgetValue" value="" />
            <input type="date" id="date" name="Purchase Date">
            <button onclick ="addUPurchase()">Add Uncategorized Purchase</button>
		</form>
<br>
<br>
            <input type="text" placeholder="Purchase Name" id="PN" name="BudgetName" value="" />
			<input type="text" placeholder="Purchase Cost" id="PV" name="BudgetValue" value="" />
            <input type="text" placeholder="Category" id="purchaseCat" name="BudgetValue" value="" />
            <input type="date" id="datee" name="Purchase Date">
            <button onclick ="addCPurchase()">Add Categorized Purchase</button>
    <br>
    <h1>Create New Category</h1>


            <input type="text" placeholder="Budget Title" id="BudgetName" name="BudgetName" value="" />
			<input type="text" placeholder="Allotted Budget" id="BudgetValue" name="BudgetValue" value="" />
			<button onclick ="addCategory()">Add Category</button>


    <div id = "categories">Categories</div>

    {% for b in bl %}

            <li><a href= "/purchases/{{ b.title }}">{{ b.title}}</a> - Budget: {{b.budgetSpent}}$/{{ b.budgetLimit}}$
             <button onclick ="deleteCategory(this)">Remove</button>
                <input type="hidden" placeholder="Event's name" id="pitemname" value="{{ b.id }}">
            </li>
            <input type="hidden" placeholder="Event's name" name="chatRoomName" value="{{ b.title }}">
    {%  endfor %}

<br>
<h1></h1>
</body>
</html>